.class-manager-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* .class-manager-img-extra {
    width: 50px;
    height: 85px;
    object-fit: cover;
} */

.badge-classes-mng {
    background-color:rgb(5, 131, 87);
}

.session-row td {
    height: 48px;
    cursor: pointer;
}

.student-list-box {
    max-height: 180px;
    overflow-y: auto;
}

tbody.nav {
    display: table-row-group;
}
.session-row.active {
    background-color: rgba(0, 0, 0, 0.075);
}