/* Stile globale della barra di scorrimento della pagina */

html {
    scrollbar-width: thin;
    scrollbar-color: #0072FA #212529;
    scroll-behavior: smooth;
}

body {
    padding-top: 60px;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar-initials {
    width: 32px;
    height: 32px;
    font-size: 0.75rem;
    font-weight: 600;
}